# Mini-Project

# Quiz: Size of the Enron Dataset

In [1]:
#!/usr/bin/python

"""
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000

"""

import pickle

enron_data = pickle.load(open("../ud120-projects/final_project/final_project_dataset.pkl", "r"))

print ('The number of data points in Enron dataset is: %i' %len(enron_data))

The number of data points in Enron dataset is: 146

# Quiz: Features in the Enron Dataset

In [4]:
for i in enron_data:
    c = len(enron_data[i])
    if c != c:
        print c
print ('The number of features per person is: %i' % c)

The number of features per person is: 21

# Quiz: Finding POIs in the Enron Data

In [5]:
cp = 0
for i in enron_data:
    if enron_data[i]['poi'] == 1:
        cp += 1
print ('The number of POIs is: %i' % cp)

The number of POIs is: 18

# Quiz: How Many POIs Exist?

In [7]:
names_file = open("../ud120-projects/final_project/poi_names.txt", "r")
#names = names_file.readlines()
#names_file.close()

In [8]:
import re
ln = list()
for line in names_file:
    if not line.startswith("("): continue
    ln.append(line.rstrip())
    #line.split('')
ln
#line

['(y) Lay, Kenneth',
 '(y) Skilling, Jeffrey',
 '(n) Howard, Kevin',
 '(n) Krautz, Michael',
 '(n) Yeager, Scott',
 '(n) Hirko, Joseph',
 '(n) Shelby, Rex',
 '(n) Bermingham, David',
 '(n) Darby, Giles',
 '(n) Mulgrew, Gary',
 '(n) Bayley, Daniel',
 '(n) Brown, James',
 '(n) Furst, Robert',
 '(n) Fuhs, William',
 '(n) Causey, Richard',
 '(n) Calger, Christopher',
 '(n) DeSpain, Timothy',
 '(n) Hannon, Kevin',
 '(n) Koenig, Mark',
 '(y) Forney, John',
 '(n) Rice, Kenneth',
 '(n) Rieker, Paula',
 '(n) Fastow, Lea',
 '(n) Fastow, Andrew',
 '(y) Delainey, David',
 '(n) Glisan, Ben',
 '(n) Richter, Jeffrey',
 '(n) Lawyer, Larry',
 '(n) Belden, Timothy',
 '(n) Kopper, Michael',
 '(n) Duncan, David',
 '(n) Bowen, Raymond',
 '(n) Colwell, Wesley',
 '(n) Boyle, Dan',
 '(n) Loehr, Christopher']

In [9]:
print ('The number of POIs were there total is: %i' % len(ln))

The number of POIs were there total is: 35

# Quiz: Problems with Incomplete Data

yes

# Quiz: Query the Dataset 1

In [13]:
edt =enron_data['PRENTICE JAMES']['total_stock_value']
print ('The total value of the stock tha belong to James Prentice is %i.'% edt)

The total value of the stock tha belong to James Prentice is 1095040.

# Quiz: Query the Dataset 2

In [15]:
eml = enron_data['COLWELL WESLEY']['from_this_person_to_poi']
print ('We have %i messages from Wesley Colwell.'% eml)

We have 11 messages from Wesley Colwell.

# Quiz: Query the Dataset 3

In [16]:
eso = enron_data['SKILLING JEFFREY K']['exercised_stock_options']
print ('he value of stock options exercised by Jeffrey K Skilling %i.'% eso)

he value of stock options exercised by Jeffrey K Skilling 19250000.

# Quiz: Research the Enron Fraud

study the case ;)

# Quiz: Enron CEO

study the case ;)

# Quiz: Enron Chairman

study the case ;)

# Quiz: Enron CFO

study the case ;)

In [47]:
tp1 = enron_data['SKILLING JEFFREY K']['total_payments']
tp2 = enron_data['LAY KENNETH L']['total_payments']
tp3 = enron_data['FASTOW ANDREW S']['total_payments']
ff = {'SKILLING':tp1, 'LAY':tp2, 'FASTOW':tp3}
name = max(ff, key=ff.get)
print ('%s is who took home the most money. He took %i.' % (name, ff.get(name)))

LAY is who took home the most money. He took 103559793.

#  Quiz: Unfilled Features

Nan

# Quiz: Dealing with Unfilled Features

In [48]:
sal = 0
em = 0
for i in enron_data:
    if (type(enron_data[i]['salary']) == int):
        sal += 1
    if ((enron_data[i]['email_address']) != "NaN"):
        em += 1
print ('The number of folks that have a quantified salary is %i and the number of e-mails known is %i' % (sal,em))

The number of folks that have a quantified salary is 95 and the number of e-mails known is 111

# Quiz: Missing POIs 1 (optional)

In [49]:
import numpy
tp = 0
tpn = 0
for i in enron_data:
    if ((enron_data[i]['total_payments']) == "NaN"):
        tp += 1
tpp = float(tp)/float((len(enron_data)))*100
print ('The percentage of people in dataset that hava a NaN for their total payment is %.1f%%' % tpp)

The percentage of people in dataset that hava a NaN for their total payment is 14.4%

# Quiz: Missing POIs 2 (optional)

In [51]:
import numpy
tpoi = 0
tpnoi = 0
for i in enron_data:
    if ((enron_data[i]['poi']) == True):
        tpnoi +=1
        if ((enron_data[i]['total_payments']) == "NaN"):
            tpoi += 1

print ('The percentage of POIs in dataset that have a NaN for their total payment is %i.'% tpoi)

The percentage of POIs in dataset that have a NaN for their total payment is 0.

# Quiz: Missing POIs 3 (optional)

non-POIs

# Quiz: Missing POIs 4 (optional)

In [55]:
print ('The number of people in the dataset is %i.'% (len(enron_data)+10))
print ('The number of new folks with NaN for total_payment is %i.'% (tp+10))

The number of people in the dataset is 156.
The number of new folks with NaN for total_payment is 31.

# Quiz: Missing POIs 5 (optional)

28 and
10

# Quiz: Missing POIs 6 (optional)

Yes